In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel("2018-2019 Stop Data PART 1.xlsx")
df2 = pd.read_excel("2018-2019 Stop Data PART 2.xlsx")

In [ ]:
df_merge = [df, df2]
df_main = pd.concat(df_merge)
df_main

,Date,Time,Bus,Count,On off,Latitude,Longitude,Route,Stop,2019-01-02 00:00:00,06:03:35,2401,1,on,35.307582855,-80.729354858,Gold,Fretwell N
0,2018-07-01,00:00:19,2404.0,5.0,on,35.309483,-80.744125,Silver,CRI Deck,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-07-01,00:07:27,2404.0,3.0,off,35.310318,-80.726677,Silver,Martin Hall,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-07-01,00:09:19,2404.0,1.0,off,35.307224,-80.725281,Silver,Lot 5A,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-07-01,00:13:31,2403.0,1.0,off,35.308022,-80.732727,Green,Cone Deck W,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-07-01,00:16:05,2403.0,1.0,on,35.308022,-80.732727,Green,Cone Deck W,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505194,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-06-30,23:41:39,2401,1.0,on,35.311974,-80.733345,Silver,East Deck 2
505195,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-06-30,23:44:25,2403,1.0,on,35.308067,-80.732727,Silver,Union Deck/Belk N
505196,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-06-30,23:48:03,2401,1.0,off,35.309441,-80.744110,Silver,East Deck 2
505197,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-06-30,23:49:43,2403,1.0,off,35.307194,-80.725166,Silver,Union Deck/Belk N
505198,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-06-30,23:49:57,2401,1.0,on,35.309471,-80.744057,Silver,East Deck 2

In [ ]:
#dataframe with only the green route
green = df_main[df_main.Route == 'Green']

In [ ]:
#this will be the main dataframe that I use
main = green[['Date', 'Count', 'On off', 'Stop']]

In [ ]:
main

             Date  Count On off                      Stop
3      2018-07-01    1.0    off               Cone Deck W
4      2018-07-01    1.0     on               Cone Deck W
5      2018-07-01    1.0     on               Cone Deck W
8      2018-07-01    1.0    off               Cone Deck W
9      2018-07-01    1.0     on               Cone Deck W
...           ...    ...    ...                       ...
474459 2018-12-21    3.0    off  Student Health (Green) W
474460 2018-12-21    1.0    off          Student Health N
474469 2018-12-21    1.0     on                Fretwell S
474473 2018-12-21    2.0    off             Levine Hall E
474474 2018-12-21    1.0     on             Levine Hall E

[122824 rows x 4 columns]

In [ ]:
#Will use these values
main.Stop.unique().size

23

In [ ]:
main.dropna()

             Date  Count On off                      Stop
3      2018-07-01    1.0    off               Cone Deck W
4      2018-07-01    1.0     on               Cone Deck W
5      2018-07-01    1.0     on               Cone Deck W
8      2018-07-01    1.0    off               Cone Deck W
9      2018-07-01    1.0     on               Cone Deck W
...           ...    ...    ...                       ...
474459 2018-12-21    3.0    off  Student Health (Green) W
474460 2018-12-21    1.0    off          Student Health N
474469 2018-12-21    1.0     on                Fretwell S
474473 2018-12-21    2.0    off             Levine Hall E
474474 2018-12-21    1.0     on             Levine Hall E

[122824 rows x 4 columns]

In [ ]:
main = main.rename(columns={"On off": "Entry"})

#These will be the frames for the on data and the off data
main_on = main[main.Entry == 'on']
main_off = main[main.Entry == 'off']

In [ ]:
main_on.reset_index()
main_off.reset_index()
main.reset_index()

         index       Date  Count Entry                      Stop
0            3 2018-07-01    1.0   off               Cone Deck W
1            4 2018-07-01    1.0    on               Cone Deck W
2            5 2018-07-01    1.0    on               Cone Deck W
3            8 2018-07-01    1.0   off               Cone Deck W
4            9 2018-07-01    1.0    on               Cone Deck W
...        ...        ...    ...   ...                       ...
122819  474459 2018-12-21    3.0   off  Student Health (Green) W
122820  474460 2018-12-21    1.0   off          Student Health N
122821  474469 2018-12-21    1.0    on                Fretwell S
122822  474473 2018-12-21    2.0   off             Levine Hall E
122823  474474 2018-12-21    1.0    on             Levine Hall E

[122824 rows x 5 columns]

In [ ]:
#MAKE SURE TO RUN THIS ENTIRE BLOCK TOGETHER TO RESET THE CALC[] ARRAY VALUES.

#This array will be used to iterate through in a for loop
stopsArray = main.Stop.unique()

#This array will store the average values of every stop
calc = []

#used to calculate averages
overallStops = 0

#Ran this 3 separate times - once with the main_on, main_off, and main array to obtain the different values.
for x in stopsArray:
    for index, row in main_off.iterrows():
        if row['Stop'] == x:
            overallStops = overallStops + row['Count']
    calc.append(overallStops)
    overallStops = 0

In [ ]:
#This returned the values and I matched them with the stops I obtained from the overallStops variable.
calc

[8685.0,
 16443.0,
 16477.0,
 3710.0,
 6307.0,
 31057.0,
 7859.0,
 8032.0,
 2567.0,
 7139.0,
 10612.0,
 9953.0,
 4932.0,
 2037.0,
 4918.0,
 23561.0,
 911.0,
 4455.0,
 6076.0,
 4.0,
 0,
 8.0,
 80.0]